<?xml version="1.0" encoding="UTF-8"?>
<launch>
  
  	
	% Launch joy
	<node pkg="joy" type="joy_node" name="joy_node">
	</node>

	% Launch teleop twist
	<node pkg="teleop_twist_joy" type="teleop_node" name="teleop_node">
   <param name="scale_linear" type="double" value="0.5" />
   <param name="scale_angular" type="double" value="0.5" />
   <remap from="/cmd_vel" to="/ropod/cmd_vel"/>
	</node>
	

	


	
</launch>
